<!DOCTYPE html>
<html>

<head>
    <title>Control</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/icon.css">
    <script defer src="assets/js/material.min.js"></script>
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/material.indigo-pink.min.css" />
    <style>
        footer {
            position: fixed;
            left: 0vw;
            bottom: 0;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            /* text-align: center; */
            opacity: 1.0;
            /* font-size: 75%; */
            z-index: 9999999;
        }

        .mdl-textfield {
            width: 7vw;
        }
    </style>
</head>

<body ng-app="electable" ng-init="init()" ng-controller="vote" id="vote">
    <div class="layout-transparent mdl-layout mdl-js-layout wrapper">
        <header class="mdl-layout__header" style="background-color: limegreen">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    <code style='color:inherit;background-color:inherit;font-size: 110%;'>electable</code>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <span ng-model="voter.name"></span>
                    <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                style="background-color: #032539" ng-click="logOut()">Log out</button> -->
                </nav>
            </div>
        </header>
        <main style="margin: auto;">
            <br><br>
            <div>
                <div style="float:left">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="[1-9][0,1,2]{0,1}" ng-model='grade'
                            size=2 maxlength=2 id='g'>
                        <label class="mdl-textfield__label" for="g">Grade</label>
                        <span class="mdl-textfield__error">Grades 1-12</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="s" pattern='[a-c]' ng-model='sec'>
                        <label class="mdl-textfield__label" for="s">Section</label>
                        <span class="mdl-textfield__error">a/b/c</span>
                    </div>
                </div>


                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect mdl-button--raised"
                    ng-click="init()" style="float:right">go</button>
            </div>

            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                    <th>#</th>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">House</th>
                    <th class="mdl-data-table__cell--non-numeric">Voted</th>
                </thead>
                <tbody>
                    <tr ng-repeat="v in class_list">
                        <td>{{$index + 1}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{v.name}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{v.house}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <span ng-switch on="v.voted">
                                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                    ng-switch-when="1" disabled><i class="material-icons">lock</i> Voted</button>
                                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                    ng-switch-when="-1" disabled><i class="material-icons">lock</i> Voting</button>
                                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                    ng-switch-when="0" ng-click="unlock(v._id)"><i class="material-icons">lock_open</i> unlock</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </main>
        <footer>
            <span style="position: relative;left: 10vh;">Coded with &hearts; by <a
                    href="http://www.instagram.com/romir.k">romir.k</a></span>
        </footer>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="assets/js/angularjs/angular.min.js"></script>
    <script src="assets/js/angularjs/angular-animate.min.js"></script>
    <script src="assets/js/angularjs/angular-aria.min.js"></script>
    <script src="assets/js/angularjs/angular-messages.min.js"></script>
    <script src="assets/js/angularjs/angular-resource.js"></script>
    <script src="assets/js/angularjs/angular-material.min.js"></script>

    <script>
        var app = angular.module('electable', ['ngMaterial']);
        var socket = io();
        var locked_state = true;

        socket.on('connect', function () {
            socket.emit('message', 'Hello server');
            socket.on('hello client', function (data) {
                console.log("hello client");
            });
            socket.on('lock', () => {
                angular.element(document.getElementById('vote')).scope().init();
            });
            socket.on('unlock', () => {
                angular.element(document.getElementById('vote')).scope().init();
            });
        });

        app.config(['$mdIconProvider', function ($mdIconProvider) {
                $mdIconProvider.icon('md-toggle-arrow', 'img/icons/toggle-arrow.svg', 48);
            }])
            .config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                    .primaryPalette('blue')
                    .accentPalette('pink');
                $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
            })
            .controller('vote', ($http, $scope, $mdDialog) => {
                $scope.grade = 12;
                $scope.sec = 'a';
                $scope.init = () => {
                    $http.get('/voter/').then(res => {
                        $scope.candidates = res.data.candidates;
                        $scope.class_list = search(search(res.data.voters, 'grade',  parseInt($scope.grade)),
                            'sec', $scope.sec).sort((a, b) => a.name < b.name ? -1 : 1);
                            console.log(res.data.voters, $scope.class_list, $scope.grade, $scope.sec);
                    });
                }

                $scope.unlock = id => {
                    $http.get('/voter/unlock/' + id).then(res => {
                        if(!res.data.success) console.log(res.data.message);
                    });
                }
            });

        function search(arr, prop, val) {
            var newArr = [];
            for (var i = 0; i < arr.length; i++) {
                if (arr[i][prop] === val)
                    newArr.push(arr[i]);
            }
            return newArr;
        }
    </script>

</body>

</html>