<!DOCTYPE html>
<html lang="en" ng-app="APP">

<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/icon.css">
    <script defer src="../assets/js/material.min.js"></script>
    <link rel="stylesheet" href="../assets/css/angular-material.min.css">
    <link rel="stylesheet" href="../assets/css/material.indigo-pink.min.css" />
    <style>
        md-content {
            height: 100%
        }

        b {
            font-size: 130%;
        }
    </style>

</head>

<body ng-app="electable" ng-init="init()" ng-controller="creator as ctr" id="vote">
    <div class="layout-transparent mdl-layout mdl-js-layout wrapper">
        <header class="mdl-layout__header" style="background-color: rgb(223, 16, 16)">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    <code style='color:inherit;background-color:inherit;font-size: 110%;'>electable</code>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <span ng-model="voter.name"></span>
                    <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                        style="background-color: #032539" ng-click="logOut()">Log out</button> -->
                </nav>
            </div>
        </header>
        <main style="margin: auto;">
            <br><br>
            <h2>Add Candidates</h2>
            <form method='post' action='/candidates/upload' enctype="multipart/form-data" name="cform">
                <b>Name: </b>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                    <input class="mdl-textfield__input" type="text" id="name" name="name" required>
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div><br>
                <b>Position: </b>
                <select name="position" id="position" required>
                    <option value="Captain">Captain</option>
                    <option value="Prefect">Prefect</option>
                </select>

                <br>
                <b>Grade: </b>


                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="grade"
                        name="grade" size=2 maxlength=2 required>
                    <label class="mdl-textfield__label" for="grade">Grade</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>

                <br>
                <b>Section: </b>
                <select name="sec" id="sec" required>
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>

                <br><br>
                <b>House: </b>
                <select name="house" id="House" required>
                    <option value="Challengers">Challengers</option>
                    <option value="Explorers">Explorers</option>
                    <option value="Pioneers">Pioneers</option>
                    <option value="Voyagers">Voyagers</option>
                </select>

                <br><br>
                Photo: <input type="file" name="fileUploaded">
                <br><br>
                <input class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect mdl-button--raised" type="submit" value="Submit">
                    <!-- Submit
                </button> -->
            </form>
        </main>
    </div>
</body>
</body>

</html>